src/resources/iso20022.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_Phase1_CorePayment
Usage Guideline: BOK_pacs.009.001.08_FIToFIFinancialInstitutionCreditTransfer_CORE
Base Message: pacs.009.001.08
Date of publication: 19 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_eTxv8A5fEe6KYNtwoo6cng/_eTy-EA5fEe6KYNtwoo6cng
Description: BOK : This message type is used in BOK-Wire+ to execute a payment if the debtor and the creditor are financial institutions.

Credited and debited BOK accounts must be denominated in only KRW.
Within BOK-Wire+, the FIToFIFinancialInstitutionCreditTransfer message has the following usages:
- Inbound payment order;
- Outbound payment.

In response to the FIToFIFinancialInstitutionCreditTransfer message, a PaymentStatusReport (pacs.002) message containing the status of the payment may be returned to the business sender.

In addition, if the payment is successfully settled, the FIToFIFinancialInstitutionCreditTransfer message is forwarded to the business receiver.

BOK Rules for characters set: 

* All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

* All Name and Address for all actors and Related Remittance Information and Remittance are extended to support the following additional characters: Korean characters and !#$%&'*+-/=?^_`{|}~ "(),:;<>@[\] which is expressed as "BOK_Max(nnn)TextAH in data type. 
Note that "><" is escaped as follows: 
< is replaced with &lt;
> is replaced with &gt;
& is replaced with &amp;

* E-mail address/Proxy fields are extended to support the following additional characters: !#%&'*+-/=?^_`{|}~ "(),:;@[\]><$ 

Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-21T05:17:20+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
            <xs:enumeration value="KRW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyandAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BOK_ActiveCurrencyandAmount">
        <xs:simpleContent>
            <xs:extension base="BOK_ActiveCurrencyandAmount_SimpleType">
                <xs:attribute name="Ccy" type="BOK_ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="BOK_LegacyMessageIdentifierCode">
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:enumeration value="BKS10B011"/>
            <xs:enumeration value="BKS10B021"/>
            <xs:enumeration value="BKS10B031"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max16TextAH">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max30TextAH">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max32TextAH">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max35TextAH">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max60TextAH">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max70TextAH">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__2">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="BOK_Max30TextAH"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38__2">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:choice>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__2">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CategoryPurpose1Choice__1">
        <xs:choice>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification3Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashClearingSystem1Code_fixed"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"/>
            <xs:element name="MmbId" type="HVPSPlus_RestrictedFINXMax28Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditTransferTransaction36__1">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification7__1"/>
            <xs:element name="PmtTpInf" type="PaymentTypeInformation28__1"/>
            <xs:element name="IntrBkSttlmAmt" type="BOK_ActiveCurrencyandAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="SttlmPrty" type="Priority3Code__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTmIndctn" type="SettlementDateTimeIndication1__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTmReq" type="SettlementTimeRequest2__1"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification6__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="CashAccount38__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount38__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount38__2"/>
            <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification6__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcct" type="CashAccount38__2"/>
            <xs:element maxOccurs="2" minOccurs="0" name="InstrForCdtrAgt" type="InstructionForCreditorAgent2__1"/>
            <xs:element maxOccurs="6" minOccurs="0" name="InstrForNxtAgt" type="InstructionForNextAgent1__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Purpose2Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FICdtTrf" type="FinancialInstitutionCreditTransferV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashClearingSystem1Code_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KRBOK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionCreditTransferV08">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader93__1"/>
            <xs:element name="CdtTrfTxInf" type="CreditTransferTransaction36__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="BOK_Max32TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_IA_RestrictedOthrAccountIdText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader93__1">
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime"/>
            <xs:element name="NbOfTxs" type="Max15NumericText_fixed"/>
            <xs:element name="SttlmInf" type="SettlementInstruction7__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_IA_RestrictedOthrAccountIdText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax28Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax320Text_Extended">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="320"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_Time">
        <xs:restriction base="xs:time">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Instruction5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHOB"/>
            <xs:enumeration value="TELB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionForCreditorAgent2__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Instruction5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="HVPSPlus_RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionForNextAgent1__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalInstrument2Choice__1">
        <xs:choice>
            <xs:element name="Prtry" type="BOK_LegacyMessageIdentifierCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max15NumericText_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentIdentification7__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="HVPSPlus_RestrictedFINXMax35Text"/>
            <xs:element name="EndToEndId" type="HVPSPlus_RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="HVPSPlus_RestrictedFINXMax35Text"/>
            <xs:element name="UETR" type="UUIDv4Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysRef" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28__1">
        <xs:sequence>
            <xs:element name="InstrPrty" type="Priority2Code"/>
            <xs:element maxOccurs="3" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice__1"/>
            <xs:element name="LclInstrm" type="LocalInstrument2Choice__1"/>
            <xs:element name="CtgyPurp" type="CategoryPurpose1Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="BOK_Max70TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="BOK_Max70TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="BOK_Max16TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="BOK_Max35TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="BOK_Max70TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="BOK_Max16TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="BOK_Max70TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="BOK_Max16TextAH"/>
            <xs:element name="TwnNm" type="BOK_Max35TextAH"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="BOK_Max35TextAH"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="BOK_Max35TextAH"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority3Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProxyAccountIdentification1__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice__1"/>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax320Text_Extended"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"/>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Purpose2Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPurpose1Code"/>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation2__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ustrd" type="BOK_Max60TextAH"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceLevel8Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDateTimeIndication1__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDtTm" type="HVPSPlus_DateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInstruction7__1">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code__1"/>
            <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementMethod1Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTimeRequest2__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrTm" type="HVPSPlus_Time"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
